<h2>Welcome!</h2>

<p><%= WelcomeMessage.for(current_user) %></p>

<%= link_to "I just did something awesome!", new_exercise_session_path %><br/><br/>

<%= link_to "Show me all the awesome stuff I've done", exercise_sessions_path %>