/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Helvetica Neue', 'Droid Sans', Arial, sans-serif;
  background-color: #53e9ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#008af7), to(#53e9ff)); /* for webkit browsers */
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header {
  width: 100%;
}
#header h1 {
  margin: 20px;
  font-size: 25px;
}
#header .controls {
  float: right;
  font-size: 12px;
  margin: 20px;
}

#main {
  margin: 20px;
}