// Place all the styles related to the exercise_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chart {
	width: 300px;
	margin: auto;
	td {
		font-size: inherit;
		padding: 5px;
	}
}
td.right {
	text-align: right;
}