$blue-top: #008af7;
$blue-bottom: #53e9ff;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Helvetica Neue', 'Droid Sans', Arial, sans-serif;
  background-color: $blue-top;
  background: -webkit-gradient(linear, left top, left bottom, from($blue-top), to($blue-bottom)); /* for webkit browsers */
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header {
  width: 100%;

  h1 {
	background-image: image_url("cloud_small.png");
	height: 96px;
	width: 200px;
	background-repeat: no-repeat;
    margin: 20px;
    font-size: 25px;
    font-family: 'Amaranth', sans-serif;

	a, a:hover {
      padding: 49px 34px;
	  display: block;
	  text-decoration: none;
	  background-color: transparent;
	}
  }
  .controls {
    float: right;
    font-size: 12px;
    margin: 20px;
  }
}

#main {
  margin: 20px;
}